
Calc/Calc/pch.h
Calc/Calc/pch.cpp
Calc/.vs/Calc/v15/.suo
Calc/.vs/Calc/v15/Browse.VC.db
Calc/Calc.sln
Calc/Calc/Calc.vcxproj.filters
Calc/Calc/Calc.vcxproj
Calc/.vs/Calc/v15/ipch/be70a5ce90221216.ipch
Calc/.vs/Calc/v15/Browse.VC.opendb
Calc/Calc/Calc.vcxproj.user
Calc/Calc/Debug/Calc.log
Calc/Calc/Debug/Calc.obj
Calc/Calc/Debug/Calc.pch
Calc/Debug/Calc.pdb
Calc/Debug/Calc.ilk
Calc/Calc/Debug/vc141.pdb
Calc/Calc/Debug/vc141.idb
Calc/Calc/Debug/pch.obj
Calc/Calc/Debug/Calc.tlog/link.write.1.tlog
Calc/Calc/Debug/Calc.tlog/link.command.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.write.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.read.1.tlog
Calc/Calc/Debug/Calc.tlog/link.read.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.command.1.tlog
Calc/Calc/Debug/Calc.tlog/Calc.lastbuildstate
Age/.vs/Age/v15/.suo
Age/.vs/Age/v15/Browse.VC.db
Age/.vs/Age/v15/Browse.VC.opendb
Age/Debug/Age.pdb
Age/Debug/Age.ilk
Age/Debug/Age.exe
Age/Age/pch.h
Age/Age/pch.cpp
Age/Age/Debug/vc141.pdb
Age/Age/Debug/vc141.idb
Age/Age/Debug/pch.obj
Age/Age/Debug/Age.tlog/link.write.1.tlog
Age/Age/Debug/Age.tlog/link.read.1.tlog
Age/Age/Debug/Age.tlog/link.command.1.tlog
Age/Age/Debug/Age.tlog/CL.write.1.tlog
Age/Age/Debug/Age.tlog/CL.read.1.tlog
Age/Age/Debug/Age.tlog/CL.command.1.tlog
Age/Age/Debug/Age.tlog/Age.lastbuildstate
Age/Age/Debug/Age.pch
Age/Age/Debug/Age.obj
Age/Age/Debug/Age.log
Age/.vs/Age/v15/ipch/c151b026b8adf40e.ipch
Age/Age/Age.vcxproj.user
Age/Age/Age.vcxproj.filters
Age/Age/Age.vcxproj
Age/Age.sln
Lab1/.vs/Lab1/v15/ipch/c0a208e881a6b7de.ipch
Lab1/.vs/Lab1/v15/ipch/6cf0ac89d0c8f1e8.ipch
Lab1/.vs/Lab1/v15/ipch/9e84d0a2521fcc27.ipch
Lab1/.vs/Lab1/v15/ipch/12fd6c76637c2431.ipch
Lab1/.vs/Lab1/v15/Browse.VC.opendb
Lab1/.vs/Lab1/v15/Browse.VC.db
Lab1/.vs/Lab1/v15/.suo
