
Calc/Calc/pch.h
Calc/Calc/pch.cpp
Calc/.vs/Calc/v15/.suo
Calc/.vs/Calc/v15/Browse.VC.db
Calc/Calc.sln
Calc/Calc/Calc.vcxproj.filters
Calc/Calc/Calc.vcxproj
Calc/.vs/Calc/v15/ipch/be70a5ce90221216.ipch
Calc/.vs/Calc/v15/Browse.VC.opendb
Calc/Calc/Calc.vcxproj.user
Calc/Calc/Debug/Calc.log
Calc/Calc/Debug/Calc.obj
Calc/Calc/Debug/Calc.pch
Calc/Debug/Calc.pdb
Calc/Debug/Calc.ilk
Calc/Calc/Debug/vc141.pdb
Calc/Calc/Debug/vc141.idb
Calc/Calc/Debug/pch.obj
Calc/Calc/Debug/Calc.tlog/link.write.1.tlog
Calc/Calc/Debug/Calc.tlog/link.command.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.write.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.read.1.tlog
Calc/Calc/Debug/Calc.tlog/link.read.1.tlog
Calc/Calc/Debug/Calc.tlog/CL.command.1.tlog
Calc/Calc/Debug/Calc.tlog/Calc.lastbuildstate
